<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>(<%= left %>) Taskwrench - Tasks</title>
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/imgs/taskwrench-32x32.png"
    />
    <link rel="stylesheet" href="/css/output.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;700;800&display=swap" rel="stylesheet">
</head>
<body class="bg-slate-100">
    <div class="flex justify-left items-center min-h-screen">
        <div class="ml-14 app text-left">
            <div class="flex items-center">
                <img src="/imgs/taskwrench.png" alt="Taskwrench">
                <h2 class="pl-2 text-info" style="font-size: 2.5rem;">Taskwrench</h2>
            </div>

            <h2 class="mb-6 text-blue-950">Welcome <%= user.userName %>! Add a task & client.</h2>

            <form action="/tasks/createTask" method='POST'>
                <input type="text" placeholder="Enter Task" name='taskItem' class="input input-info w-3/4 mb-4 border-info bg-slate-100 text-blue-950">
                <input type="text" placeholder="Name" name='name' class="input input-info w-3/4 mb-4 border-info bg-slate-100 text-blue-950">
                <input type="text" placeholder="Address" name='address' class="input input-info w-3/4 mb-4 border-info bg-slate-100 text-blue-950">
                <input type="tel" placeholder="Phone Number" name='phoneNumber' pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" class="input input-info w-3/4 mb-4 border-info bg-slate-100 text-blue-950">
                <textarea type="text" placeholder="Notes" name='notes' class="input input-info w-3/4 mb-4 border-info bg-slate-100 text-blue-950"></textarea>
                <input type="submit" class="btn w-3/4 btn-info mb-4">
            </form>

            <a href="/logout" class="btn btn-info mb-8">Logout</a>
        </div>
    </div>
    <section class="tasks ml-14 max-w-screen-lg app text-left bg-slate-100 ">
        <h4 class="text-info" style="font-size: 2rem;">Your Tasks & Contacts</h4>
        <h2 class="mb-6 text-blue-950"><%= user.userName %> has <%= left %> tasks left to do.</h2>  
        <ul class="overflow-y-scroll h-80 mb-4">
            <% tasks.forEach(el => { %>
                <li class='taskItem flex-col items-start mb-4 border border-info pr-0' data-id='<%=el._id%>'>
                    <span class='p-2 <%= el.done === true ? 'done line-through' : 'notDone text-info'%>'><%= el.task %></span>
                    <span class='del btn btn-xs btn-error ml-auto'>Delete</span>
                </li>
                <li class='taskItem p-2 flex-col items-start mb-4 border border-info pr-0'>
                    <span class="name text-left text-sm md:text-base mr-4 text-black"><%= el.name %></span>
                </li>
                <li class='taskItem p-2 flex-col items-start mb-4 border border-info'>
                    <span class="address text-left text-xs md:text-base mr-4 text-black"><%= el.address %></span>
                </li>
                <li class='taskItem p-2 flex-col items-start mb-4 border border-info pr-0'>
                    <span class="phoneNumber text-left text-sm md:text-base mr-4 text-black"><%= el.phoneNumber %></span>
                </li>
                <li class='taskItem h-auto flex-col items-start mb-4 input input-bordered input-info pr-0 bg-slate-100'>
                    <span class="notes text-left text-sm md:text-base mr-4 text-black"><%= el.notes %></span>
                </li>
                <div class="divider divider-info mb-8"></div>
            <% }) %>
        </ul>
    </section>
    
    <footer class="footer footer-center bg-info p-4 text-base-content">
        <aside class="text-blue-950">
            <p>Built by Software Engineer <a href="http://rcmcristian.netlify.app" class="text-slate-100">Cristian Roblero.</a></p>
        </aside>
    </footer>
    <script src="js/main.js"></script>
</body>
</html>